.custom-card{
    border: none;
    background-color: #F8F7F6;
    border-radius: 7px;
    transition: all 0.3s ease-in;
}
.custom-card:hover{
    transform: scale(0.96,0.96);
}
.custom-card-img{
    transform: scale(1.1,1.1);
    transition: all 0.3s ease-in;
}
.custom-card:hover .custom-card-img{
    transform: scale(1.4,1.4);
}


.rating-div{
    font-size: 1.1rem;
    color: #FE8220;
}
.review-count{
    font-size: 1rem;
    color: black;
    margin-left: 0.3rem;
}
.price{
    font-family: 'Libre Baskerville', serif;
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.price span{
    font-size: 0.8rem;
    color: #686868;
    margin-left: 0.3rem;
    padding: 0.2rem;
    position: relative;
}
.price span::after{
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
    background-color: black;
}
.card-btn{
    font-family: 'Libre Baskerville', serif;
    padding: 0.3rem 1rem;
    margin-bottom: 1rem;
}